.omb-goback {
  background-color: #fff;
  font-size: 1.2rem;
  width: 30px;
  height: 30px;

  &.fixed {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 99;
    box-shadow: 0 0 4px rgba(46, 41, 51, 0.2);
  }

  &:hover {
    color: var(--blue);
    transition: 300ms ease;
  }
}