.omb-card {
  width: 100%;

  h2 {
    > span {
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      background-color: #2a2a2a;
      padding: 4px 10px;
      color: #fff;
      border-radius: 5px;
    }

    .icon {
      margin-right: 5px;
    }
  }

  &-group {
    &-item {
      transition: 300ms ease;
      > div {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
      }
    }
  }

  &-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    cursor: pointer;
    transition: all 1s ease;

    * {
      color: #666;
    }

    &:hover * {
      color: #121212;
    }

    b {
      font-size: 12px;
    }
  }
}
