.omb-card {
  width: 100%;
  &-group {
    &-item {
      transition: 300ms ease;
      > div {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
      }
    }
  }
}