.omb-editor-container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  resize: both;

  // .overflow-guard {
  //   .margin {
  //     background-color: transparent;
  //   }
  // }
  // .minimap-decorations-layer {
  //   background-color: transparent;
  // }
  // .monaco-editor-background {
  //   background-color: transparent;
  // }

  .preview {
    background: #fff;
    overflow: auto;
    height: auto;
    padding: 20px;
  }
}
