.shadow-raised {
  box-shadow: 0 1px 2px rgba(46, 41, 51, 0.08), 0 2px 4px rgba(71, 63, 79, 0.08);
}

.shadow-floating {
  box-shadow: 0 2px 4px rgba(46, 41, 51, 0.08), 0 4px 8px rgba(71, 63, 79, 0.16);
}

.shadow-overlay {
  box-shadow: 0 4px 8px rgba(46, 41, 51, 0.08), 0 8px 16px rgba(71, 63, 79, 0.16);
}

.shadow-dialog {
  box-shadow: 0 4px 16px rgba(46, 41, 51, 0.08), 0 8px 24px rgba(71, 63, 79, 0.16);
}

.omb-ico {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  transition: transform .3s ease-in-out;
  will-change: transform;
}

.omb-scrollbar {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--blue);
  }
}
