.omb-color-picker {
  width: 216px;

  .omb-tabs-pane {
    padding-top: 10px;
  }

  .omb-tabs-head {
    > div {
      width: 50%;
      text-align: center;
      border-radius: 4px;
      font-weight: bold;
      font-size: 0.75rem;
      padding: 0;
      height: 30px;
      line-height: 30px;
    }
  }

  .color-list-pane {
    height: 150px;

    .recent {
      display: none;

      h4 {
        font-size: 0.75rem;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 12px;
      }
    }

    &.has-recent {
      height: 240px;

      .recent {
        display: block;
      }
    }

    .color {
      &-list {
        display: flex;
        flex-wrap: wrap;
      }

      &-item {
        width: 36px;
        height: 36px;

        span {
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: solid 1px #e8eaed;
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
          transition: 100ms ease;
        }

        &.checked {
          span {
            transform: scale(1.5);
          }
        }
      }
    }
  }

  .color-picker-pane {
    height: 250px;

    .omb-colorpicker {
      width: 216px;
    }

    .color-input {
      font-weight: bold;
      font-size: 0.75rem;
      margin-top: 15px;

      i {
        color: #999;
        margin-left: 10px;
        font-size: 1rem;
        vertical-align: -1px;
      }

      input {
        border: none;
        border-bottom: solid 2px #d8d8d8;
        width: 100px;
        font-weight: bold;
        padding-left: 2px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}