.tool-palette {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 20%;
  width: 60px;
  background-color: #fff;
  padding: 10px;
  filter: drop-shadow(0 1px 3px #3C40434D) drop-shadow(0 4px 8px #3C404326);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: auto;

  .color-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 1px rgba(#000, 0.1);
    cursor: pointer;
    transition: 300ms ease;
  }
}

.color-popover {
  margin-left: 20px;
  cursor: auto;
  padding: 10px;
  background-color: #fff !important;
  margin-top: -10px;

  .omb-tabs-pane {
    transition: 300ms ease;
  }
}