.omb-tooltip {
  background: #2a2a2a;
  color: #fff;
  pointer-events: none;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 14px;
  z-index: 99;

  &.sys {
    font-size: 0.5rem;
    background-color: #eee;
    color: #3a3a3a;
    border-radius: 2px;
    padding: 2px 4px;
  }
}
