.omb-layout {
  height: 100vh;

  &-sider {
    position: absolute;
    height: 100%;
    width: 240px;
    top: 0;
    box-shadow: 0 0 3px rgba(46, 41, 51, 0.2);

    .sider-head {
      display: flex;
      width: 240px;
      overflow-y: scroll;
      height: 50px;
      align-items: center;
      font-weight: bold;
      background-color: #fff;
    }

    .sider-body {
      height: calc(100% - 50px);
    }
  }

  &-body {
    margin-left: 240px;
    padding: 20px;
    display: flex;
  }
}
