.omb-layout {
  height: 100vh;

  &-sider {
    position: absolute;
    height: 100vh;
    width: 240px;
    top: 0;
    box-shadow: 0 0 3px rgba(46, 41, 51, 0.2);

    &-head {
      display: flex;
      width: 240px;
      height: 50px;
      align-items: center;
      font-weight: bold;
      background-color: #fff;
    }

    &-body {
      height: calc(100vh - 50px);
    }
  }

  &-body {
    height: 100vh;
    margin-left: 240px;
    display: flex;
    overflow: hidden;

    &-scroll {
      padding: 20px;
      width: 100%;
    }
  }
}
